p{
	text-shadow: black 1px 0px 0px;
	font-family: "my_style";
	text-align: justify;
	text-decoration: underline;
	text-transform: uppercase;
}

@font-face{
	font-family:"my_style";
	src:url("../fonts/DelRose-Regular.ttf");
}

h1, h2{
	font-family:"my_style";
}

.my_parag:hover{
	background-color: red;
	color: white;
}

a.enlaces:hover{
	color: red;
}

ul li:hover{
	background-color: red;
	color: white;
}

ul li:first-child{
	background-color: yellow;
}

ul li:last-child{
	background-color: magenta;
	font-weight: bold;
}

